Customer_MsgSet/Customer_MsgSetService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://tempuri.org/Customer_MsgSet" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/Customer_MsgSet" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Customer_MsgSet" targetNamespace="http://tempuri.org/Customer_MsgSet">
  <wsdl:types>
    <xsd:schema xmlns:mrm="http://tempuri.org/Customer_MsgSet" targetNamespace="http://tempuri.org/Customer_MsgSet">
      <xsd:complexType name="GetBalanceRequest">
        <xsd:sequence>
          <xsd:element ref="id"/>
          <xsd:element name="balanceIdx" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetBalanceResponse">
        <xsd:sequence>
          <xsd:element ref="id"/>
          <xsd:element name="balance" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Fault">
        <xsd:sequence>
          <xsd:element ref="faultCode"/>
          <xsd:element ref="faultString"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="id" type="xsd:int"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="address" type="xsd:string"/>
      <xsd:element name="birthdate" type="xsd:date"/>
      <xsd:element name="balance1" type="xsd:decimal"/>
      <xsd:element name="balance2" type="xsd:decimal"/>
      <xsd:element name="balance3" type="xsd:decimal"/>
      <xsd:element name="balance4" type="xsd:decimal"/>
      <xsd:element name="balance5" type="xsd:decimal"/>
      <xsd:element name="faultCode" type="xsd:int"/>
      <xsd:element name="faultString" type="xsd:string"/>
      <xsd:element name="GetBalanceRequest" type="GetBalanceRequest"/>
      <xsd:element name="GetBalanceResponse" type="GetBalanceResponse"/>
      <xsd:element name="Fault" type="Fault"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetBalance_in">
    <wsdl:part element="GetBalanceRequest" name="GetBalanceRequest"/>
  </wsdl:message>
  <wsdl:message name="GetBalance_out">
    <wsdl:part element="GetBalanceResponse" name="GetBalanceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBalance_fault1">
    <wsdl:part element="Fault" name="Fault"/>
  </wsdl:message>
  <wsdl:portType name="Customer_MsgSetPortType">
    <wsdl:operation name="GetBalance">
      <wsdl:input message="GetBalance_in" name="GetBalance_Input"/>
      <wsdl:output message="GetBalance_out" name="GetBalance_Output"/>
      <wsdl:fault message="GetBalance_fault1" name="GetBalance_Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Customer_MsgSetSOAP_HTTP_Binding" type="Customer_MsgSetPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetBalance_Input">
        <soap:body parts="GetBalanceRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetBalance_Output">
        <soap:body parts="GetBalanceResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GetBalance_Fault">
        <soap:fault name="GetBalance_Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port binding="Customer_MsgSetSOAP_HTTP_Binding" name="CustomerService">
      <soap:address location="http://localhost:7800/CustomerService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
